includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    scanFiles:
        - phpstan/gravityforms.stub
    level: 6
    paths:
        - src
        - tests
    excludePaths:
        - tests/stubs
        - tests/bootstrap.php
