parameters:
	ignoreErrors:
		-
			message: '#^Method Gaffer\\AjaxAction\:\:arguments\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/AjaxAction.php

		-
			message: '#^Method Gaffer\\AjaxAction\:\:run\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/AjaxAction.php
